<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>博客管理</title>
	<link rel="stylesheet" href="__ROOT__/Public/admin/css/index.css">
	<link rel="icon" type="image/x-icon" href="__PUBLIC__/logo/favicon.jpg">
</head>
<body>
<div id="all">
	<div id="header">
		<span>个人博客</span>
		<div class="header-right"></div>
	</div>
	<div id="blog">
		<div class="img">
			<img src="__PUBLIC__/admin/Uploads/{$result['imgpath']}" alt="头像">
			<div class="info">
				{$admin} &nbsp;&nbsp;&nbsp;昵称：{$result['name']} &nbsp;&nbsp;&nbsp;性别：{$result['sex']}&nbsp;&nbsp;&nbsp;年龄：{$result['age']} &nbsp;&nbsp;&nbsp;{$result['tel']}
			</div>
			<div><a id="logout" href="__MODULE__/Login/logout" onclick="if (confirm('确定要退出吗？')) return true; else return false;">退出</a></div>
			<div class="myblog"><a href="__MODULE__/../Home/Index/index">博客首页</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="__CONTROLLER__/info">修改信息</a></div>
		</div>
		<div id="manage">
			<ul>
				<li><a href="__CONTROLLER__/index">文章管理</a></li>
				<li class="art_admin"><a href="javascript:void(0)">评论管理</a></li>
				<li><a href="__CONTROLLER__/file">文件管理</a></li>
				<li><a href="__CONTROLLER__/write">&#8594;写文章</a></li>
			</ul>
		</div>
		<div id="com_admin">
			<table spacing="none">
				<th>标题</th>
				<th>评论数</th>
				<th>作者</th>
				<th>时间</th>
				<th class="operate">操作</th>
				<volist name="list" id="vo">
					<tr class="top">
						<td class="operate"><a class="com_title" href="__MODULE__/../Home/Detail/index/articleid/{$vo.article_id}">{$vo.title}</a></td>
						<td class="operate">{$vo.count}</td>
						<td class="operate">{$result['name']}</td>
						<td class="operate">{$vo.time|date='Y-m-d H:i:s',###}</td>
						<td class="operate"><a href="__CONTROLLER__/delete/com_id/{$vo.id}/articleid/{$vo.article_id}">删除</a></td>
					</tr>
					<tr>
						<td colspan="5">
							<div class="com_content">
								{$vo.content}
							</div>
						</td>
					</tr>
				</volist>
				<tr>
					<td colspan="5">
						<if condition="$page neq null">{$page}
							<elseif condition="$list eq null" /><span style="color:red;">你还没有被评论!</span>
							<else/><span class="current">1</span>
						</if>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
</body>
</html>