<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>博客管理</title>
	<link rel="stylesheet" href="__PUBLIC__/admin/css/index.css">
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/editor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/editor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/editor/lang/zh-cn/zh-cn.js"></script>
</head>
<body>
<div id="all">
	<div id="header">
		<span>个人博客</span>
		<div class="header-right"></div>
	</div>
	<div id="blog">
		<div class="img">
			<img src="__PUBLIC__/admin/Uploads/{$result['imgpath']}" alt="头像">
			<div class="info">
				{$admin} &nbsp;&nbsp;&nbsp;昵称：{$result['name']} &nbsp;&nbsp;&nbsp;性别：{$result['sex']}&nbsp;&nbsp;&nbsp;年龄：{$result['age']} &nbsp;&nbsp;&nbsp;{$result['tel']}
			</div>
			<div><a id="logout" href="__MODULE__/Login/logout" onclick="if (confirm('确定要退出吗？')) return true; else return false;">退出</a></div>
			<div class="myblog"><a href="">博客首页</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="__CONTROLLER__/info">修改信息</a></div>
		</div>
		<div id="manage">
			<ul>
				<li><a href="__CONTROLLER__/index">文章管理</a></li>
				<li><a href="">评论管理</a></li>
				<li><a href="__CONTROLLER__/file">文件管理</a></li>
				<li><a href="__CONTROLLER__/write">&#8594;写文章</a></li>
			</ul>
		</div>
		<form action="__CONTROLLER__/edite_send/articleid/{$article['id']}" method="post">
			<div class="admin-aritcle">
				<span>文章的类型：</span>
				<select id="type" name="type">
					<option name="type" value={$article['type']}>{$article['type']}</option>	
					<option name="type" value="php">php</option>
					<option name="type" value="web前端">web前端</option>
					<option name="type" value="综合">综合</option>
					<option name="type" value="其他">其他</option>
				</select>
				文章标题：<input id="title" name="title" value="{$article['title']}" type="text">
			</div>
			<div id="write">
				<div class="edite">
	    			文章内容：<script id="editor" name="content" type="text/plain" style="width:960px;height:500px;">{$article['content']}</script>
				</div>
				<input id="newsend" name="newsend" type="submit" value="确认修改">
			</div>
		</form>
	</div>
</div>
	<script src="__ROOT__/Public/admin/js/jquery-main.js"></script>
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/admin/js/write.js"></script>
</body>
</html>